.instruction-group {
  margin-bottom: 2rem;
}

.instruction-list {
  padding-left: 0;
}

.instruction-step {
  list-style: none;
  padding: 1.25rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.step-header {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.step-number {
  color: darkcyan;
}

.step-text {
  margin-bottom: 0.75rem;
}


.step-time {
  margin-bottom: 0.75rem;
  color: #9e9e9e;
}

.step-section {
  margin-top: 1rem;
}

.item-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 0.5rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Images */
.item-image {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.ingredient-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.equipment-image {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.item-label {
  font-size: 0.9rem;
  text-transform: capitalize;
}
